.icon-CustomManagementPanel {
    background-image:url( ../images/CustomManagement.1.icon.png ) !important;
}

#CustomManagementPanel-shortcut img {
    width:48px;
    height:48px;
    background-image: url(../images/CustomManagement.1.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/CustomManagement.1.png', sizingMethod='scale');
}

.icon-OperationManagementPanel {
    background-image:url( ../images/OperationManagement.1.icon.png ) !important;
}

#OperationManagementPanel-shortcut img {
    width:48px;
    height:48px;
    background-image: url(../images/OperationManagement.1.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/OperationManagement.1.png', sizingMethod='scale');
}

.icon-DeviceManagementPanel {
    background-image:url( ../images/DeviceManagement.1.icon.png ) !important;
}

#DeviceManagementPanel-shortcut img {
    width:48px;
    height:48px;
    background-image: url(../images/DeviceManagement.1.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/DeviceManagement.1.png', sizingMethod='scale');
}

.icon-StatisticsManagementPanel {
    background-image:url( ../images/StatisticsManagement.1.icon.png ) !important;
}

#StatisticsManagementPanel-shortcut img {
    width:48px;
    height:48px;
    background-image: url(../images/StatisticsManagement.1.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/StatisticsManagement.1.png', sizingMethod='scale');
}

.icon-BookingManagementPanel {
    background-image:url( ../images/BookingManagement.1.icon.png ) !important;
}

#BookingManagementPanel-shortcut img {
    width:48px;
    height:48px;
    background-image: url(../images/BookingManagement.1.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/BookingManagement.1.png', sizingMethod='scale');
}


.icon-SystemManagementPanel {
    background-image:url( ../images/SystemManagement.2.icon.png ) !important;
}

#SystemManagementPanel-shortcut img {
    width:48px;
    height:48px;
    background-image: url(../images/SystemManagement.2.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/SystemManagement.2.png', sizingMethod='scale');
}

.icon-StatisticsDataButton
{
	background-image: url( ../lib/extjs/pan/shared/icons/fam/grid.png ) !important;
}